div#cover
  div.container
    div.row
      div.swiper-container
        div.swiper-wrapper
          div.swiper-slide
            img.slide(src='/img/1.jpg')
          div.swiper-slide
            img.slide(src='/img/2.jpg')
          div.swiper-slide
            img.slide(src='/img/3.jpg')
            button.start-btn 开始
        div#navigation
