div#cover
  div.swiper-container
    div.swiper-wrapper
      div.swiper-slide
        img.slide(src='/img/1.png')
      div.swiper-slide
        img.slide(src='/img/2.png')
      div.swiper-slide
        img.slide#gc(src='/img/3.png')
    div#navigation
