div#cover
  div.swiper-container
    div.swiper-wrapper
      div.swiper-slide
        img.slide(src='http://happy20140601.qiniudn.com/cover/1.png')
      div.swiper-slide
        img.slide(src='http://happy20140601.qiniudn.com/cover/2.png')
      div.swiper-slide
        img.slide#gc(src='http://happy20140601.qiniudn.com/cover/3.png')
    div#navigation
