div#generation-choose
  div.container
    div.row.placeholder
    div.row
      div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
        button.btn.btn-block#g80(type="button") 我是 80 后
        button.btn.btn-block#g90(type="button") 我是 90 后
