div#guess-game
  div.container
    div.row
      div.col-md-12
        h2
          | 根据你的记忆填写名称吧
          span.pg
    div.row
      div.col-md-6.col-md-offset-3.center
        div.main-pic-wrapper
          img.main-pic
          div#main-mask
            p 正确
    div.row
      div.col-md-6.col-md-offset-3.center.answer-line
    div.row
      div.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.btn-line
        div.row
          div.col-md-6.col-sm-6.col-xs-6
            button.btn.btn-lg.btn-main#return 太难了，换一组
          div.col-md-6.col-sm-6.col-xs-6
            button.btn.btn-lg.btn-main#check 下一张
    div.row
      div.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
        h3#f-err 不好意思填错了哦
