div#guess-game
  div.container
    div.row
      h1.ge
    div.row
      img.main-pic
    div.row
      input.charactor(value='膝')
      input.charactor(value='盖')
      input.charactor(value='中')
      input.charactor(value='箭')
