div#guess-game
  div.container
    div.row
      h1.ge
    dib.row
      h2
        | 根据你的记忆填写名称吧
        span.progress
    div.row
      img.main-pic
    div.row
      div.col-md-12.answer-line
    div.row
      div.btn-line
        button.col-md-3.btn#return anthor
        button.col-md-3.btn#check ok
