extends layout

block content
  include cover.jade
  include generation-choose.jade
  include guess-game.jade
  include final-present

  //- div#uploader-wrapper
  //-   p#progress
  //-   p#error
  //-   button#upload-btn upload
