extends layout

block content
  div#bg
    img(src="img/4.png")
  include cover.jade
  include generation-choose.jade
  include init-game.jade
  include guess-game.jade
  include upload.jade
  include select-template.jade
  include final-present.jade
