div#init-game
  div.container
    div.row
      h3 你还记得下面的场景吗？
      div.col-md-10.col-md-offset-1.puzzle
        div.row
          div.col-md-6
            img.tl
          div.col-md-6
            img.tr
        div.row
          div.col-md-6
            img.bl
          div.col-md-6
            img.br
    div.row
      button.col-md-2.col-md-offset-3#reset-group 换一组
      button.col-md-2.col-md-offset-2#start-guess 确定
