doctype 5
html
  head
    title 我们一直在努力做到更好！
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.0')
    //- link(rel='stylesheet', href='http://cdn.staticfile.org/pure/0.4.2/pure-min.css')
    link(rel='stylesheet', href='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://localhost:35729/livereload.js')
    script(src='http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js')
    script(src='/components/plupload/js/plupload.full.min.js')
    script(src='/components/plupload/js/i18n/zh_CN.js')
    link(rel="stylesheet", href="/components/swiper/idangerous.swiper.css")
    script(defer, src="/components/swiper/idangerous.swiper.min.js")
    //- script(src='/components/jquery.slides.min.js')
  body
    block content
  footer
    script(src='/js/utils.js')
    script(src='/js/index.js')
    // 俺は人间をやめるぞ！
