doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="/components/swiper/idangerous.swiper.css")
    script(src='http://localhost:35729/livereload.js')
    script(src='http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js')
    script(src='/components/plupload/js/plupload.full.min.js')
    script(src='/components/plupload/js/i18n/zh_CN.js')
    script(defer, src="/components/swiper/idangerous.swiper.min.js")
    //- script(src='/components/jquery.slides.min.js')
  body
    block content
  footer
    script(src='/js/utils.js')
    script(src='/js/index.js')
