div#select-template
  div.wrapper

    div#m-temp-line
      span
      img#m-template

    div.tmpls-line
      div.tmpl-btn-wrapper
        img.tmpl-btn.thumb-tmpl.active#t1(data-num="0", src="http://happy20140601.qiniudn.com/m1.png-w100")
      div.tmpl-btn-wrapper
        img.tmpl-btn.thumb-tmpl#t2(data-num="1", src="http://happy20140601.qiniudn.com/m2.jpg-h100")
      div.tmpl-btn-wrapper
        img.tmpl-btn.thumb-tmpl#t3(data-num="2", src="http://happy20140601.qiniudn.com/m3.png-w100")

    p.save-tip#save-tip 长按图片可以将图片保存到手机

    div.btn-line
      //- button.btn.btn-lg.btn-main#save
      //-   img.btn-img(src="img/save.png")
      a.btn.btn-lg.btn-main#share(target="_blank")
        img.btn-img(src="img/share-btn.png")

    a#retry 再玩一次


  //- div.container
  //-   div.row
  //-     div.col-md-8.col-md-offset-2
  //-       div.row
  //-       div.row.btn-line
  //-         div.col-md-6.col-sm-6.col-xs-6
  //-           a.btn.btn-lg.btn-main#save 保存
  //-         div.col-md-6.col-sm-6.col-xs-6
  //-           button.btn.btn-lg.btn-main#share 分享

  //- div.container
  //-   div.row
  //-     div.col-md-8.col-md-offset-2
  //-       div.row
  //-         div.col-md-12.m-temp-line
  //-           span
  //-           img#m-template
  //-       div.row.tmpls-line
  //-         div.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-6.col-xs-offset-3
  //-           div.row
  //-             div.col-md-4.col-sm-4.col-xs-4.tmpl-btn-wrapper
  //-               img.tmpl-btn.thumb-tmpl-w.active(data-num="0", src="img/muban1.png")
  //-             div.col-md-4.col-sm-4.col-xs-4.tmpl-btn-wrapper
  //-               img.tmpl-btn.thumb-tmpl-w(data-num="1", src="img/muban2.png")
  //-             div.col-md-4.col-sm-4.col-xs-4.tmpl-btn-wrapper
  //-               img.tmpl-btn.thumb-tmpl-w(data-num="2", src="img/muban3.png")
  //-       div.row.btn-line
  //-         div.col-md-6.col-sm-6.col-xs-6
  //-           a.btn.btn-lg.btn-main#save 保存
  //-         div.col-md-6.col-sm-6.col-xs-6
  //-           button.btn.btn-lg.btn-main#share 分享
