div#select-template
  div.container
    div.row
      div.col-md-4.col-md-offset-4
        div.row
          div.col-md-12
            h3 难以忘怀的儿童节
        div.row
          div.col-md-4.col-md-offset-4
            img.template
        div.row
          div.col-md-4.col-sm-4.col-xs-4
            img.thumb-tmpl-w(src="img/muban1.png")
          div.col-md-4.col-sm-4.col-xs-4
            img.thumb-tmpl-h(src="img/muban2.png")
          div.col-md-4.col-sm-4.col-xs-4
            img.thumb-tmpl-w(src="img/muban3.png")
