#generation-choose {
	display: none;
	height: 100%;

	.title {
		margin-top: 40%;
		img {
			width: 100%;
		}
	}

	.btn-block {
		width: 100%;
		margin-top: 20%;
		margin-bottom: 20%;
		#g80, #g90 {
			width: 75%;
			margin: 6% auto;
		}

		.g80-btn, .g90-btn {
			width: 70%;
		}
	}

	.jushuo {
		img {
			width: 100%;
		}
	}
	// #g80 {
	// 	background: url("../img/")
	// }

	// #g90 {
	// 	background: url("../img/g90-btn.png") no-repeat center;
	// }
}
