#init-game {
    display: none;
	height: 100%;

	.container {
		height: 100%;
	}

	.full {
		height: 100%;
	}

    img {
    	// width: 100%;
    	width: 200px;
    	height: 200px;
    	// height: 100%;
    }
    .btn-line {
    	text-align: center;
    	margin-top: 5%;
	    #reset-group, #start-guess {
	    	width: 30%;
	    	margin-right: 2%;
	    	margin-left: 2%;
	    	font-size: 16px;
	    }
    }
}
