#init-game {
    display: none;
	height: 100%;

    .wrapper {
        width: 80%;
        margin: 0 auto;

        .title {
            margin-top: 50%;
            margin-bottom: 20%;
            img {
                width: 65%;
            }
        }

        #img-puzzle-group {
            .tl, .tr, .bl, .br {
            	width: 50%;
                border: 10px solid white;
                min-height: 22.606%;
            }
            .tl {
                border-right-width: 5px;
            }
            .tr {
                border-left-width: 5px;
            }
        }

        .btn-line {
        	text-align: center;
        	margin-top: 20%;
    	    #reset-group, #start-guess {
    	    	width: 46%;
                margin: 0 2%;
                img {
                    margin: 0 -7%;
                    width: 114%;
                }
    	    }
        }
    }


}
