html, body {
  height: 100%;
}
body {
  background-color: #F8E9D1;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

@import "cover";
@import "generation-choose";
@import "init-game";
@import "guess-game";
@import "upload";
@import "select-template";
@import "final-present";
