html, body {
  height: 100%;
}
body {
  background-color: #F8E9D1;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.btn {
  border-radius: 0px;
}

.btn-img {
  width: 100%;
}

.btn-main {
  background-color: #ffa41c;
  color: white;
  &:hover {
    background-color: #ed9315;
    color: white;
  }
  &:focus {
    color: white;
  }
}

#bg {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 50%;
  bottom: 0px;
  img {
    height: 100%;
  }
}

#generation-choose,
#init-game,
#guess-game,
#upload,
#select-template,
#final-present {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
}

@import "cover";
@import "generation-choose";
@import "init-game";
@import "guess-game";
@import "upload";
@import "select-template";
@import "final-present";
