#upload {
    display: none;
    #uploader-wrapper {
        margin-top: 40%;
        width: 100%;
        height: 300px;
        background-color: white;
        #upload-btn {

        }
        #upload-btn {
            width: 100%;
            height: 100%;
            cursor: pointer;
            vertical-align: middle;
        }
        span {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            top: 50%;
            text-align: center;
            width: 100%;
            margin-top: -12px;
            font-size: 24px;
            color: #868686;
            margin-bottom: -24px;
        }
        #photo-preview {
            width: 100%;
            position: relative;
            top: -20px;
            z-index: 2;
            // width: 100%;
            // height: 100%;
        }
    }
    #next-select {
        width: 100%;
        margin-top: 40px;
    }
}
